@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?pt3jii');
  src:  url('fonts/icomoon.eot?pt3jii#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?pt3jii') format('truetype'),
    url('fonts/icomoon.woff?pt3jii') format('woff'),
    url('fonts/icomoon.svg?pt3jii#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-back-1:before {
  content: "\e90a";
}
.icon-back-2:before {
  content: "\e91d";
}
.icon-biaoqian .path1:before {
  content: "\e91e";
  color: rgb(66, 66, 66);
}
.icon-biaoqian .path2:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(248, 182, 45);
}
.icon-open:before {
  content: "\e900";
}
.icon-friends:before {
  content: "\e901";
}
.icon-zh-en:before {
  content: "\e918";
}
.icon-en-zh:before {
  content: "\e919";
}
.icon-share:before {
  content: "\e912";
}
.icon-totop:before {
  content: "\e909";
}
.icon-day:before {
  content: "\e90f";
}
.icon-dark:before {
  content: "\e910";
}
.icon-lang:before {
  content: "\e911";
}
.icon-Back-icon1:before {
  content: "\e902";
}
.icon-back:before {
  content: "\e908";
}
.icon-time:before {
  content: "\e90e";
}
.icon-hot:before {
  content: "\e90d";
}
.icon-search:before {
  content: "\e905";
}
.icon-uniE903:before {
  content: "\e903";
}
.icon-cancel:before {
  content: "\e913";
}
.icon-success:before {
  content: "\e914";
}
.icon-error:before {
  content: "\e915";
}
.icon-info:before {
  content: "\e916";
}
.icon-lighting:before {
  content: "\e917";
}
.icon-logs:before {
  content: "\e91a";
}
.icon-qq:before {
  content: "\e91b";
}
.icon-warning:before {
  content: "\e91c";
}
.icon-code:before {
  content: "\e904";
}
.icon-email:before {
  content: "\e906";
}
.icon-GitHub:before {
  content: "\e907";
}
.icon-link:before {
  content: "\e90b";
}
.icon-QQ:before {
  content: "\e90c";
}
