$green1:#5fb878;
$green2:#53aa6c;
$green3:#38814d;

$gray1: #eeeeee;
$gray2: #cccccc;
$gray3: #666666;
$gray4: #333333;


$black: #000000;
$white: #ffffff;


$colorA: #6AB098;
$colorB: #257D5F;
$colorC: #9FE3A5;
$colorD: #E378D1;
$colorE: #A36AB0;
$colorF: #eceff1;


// page color 
$titleColor: #444444;
$linkColor: #f5f5f7;
$linkHover1: #6bf;
$linkHover2: #fff;
$backgroundColor: #f5f5f7;
$bkmarkColor: #6bf;
$unflodColor: #6bf;





$boxShadowCommon: .1rem .1rem .2rem .2rem rgba(0,0,0,.14);

